header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 167, 167);
}

header div p {
    margin-left: 10px;
}

header h1 {
    margin: 0 auto;
}