div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.content {
    display: flex;           
    gap: 10px;               /* Espacio entre la imagen y el texto */
    padding: 10px;           /* Espacio interior del contenedor */
    box-sizing: border-box;  /* Para que el padding no agregue ancho extra */
}

.content-img {
    flex-shrink: 0;          /* Evita que la imagen se achique demasiado si el espacio es reducido */
}

.img-body {
    width: 100%;            
    height: auto;
    max-width: 500px;
    display: block;          
}

.content-p {
    flex: 1;
    padding: 5px;                 /* Hace que el texto ocupe el espacio restante */
}

.content-carrusel{
    display: flex;
    align-items: center;
    gap: 5px;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis {
    width: 15%;
    height: 50px;
    background-color: red;
}