<div>
    <h2>titulo</h2>
</div>
<div class="content">
    <div class="content-img">
        <img src="assets/img/imagen1024x1024.png" alt="Mi Imagen" class="img-body">
    </div>
    <div class="content-p">
        <p class="texto-imagen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat autem quam ad minima soluta ea accusamus cupiditate, optio, fugiat veritatis error sunt id? Quisquam assumenda facilis corporis nostrum consectetur in.</p>
    </div>
</div>
<div class="content-carrusel">
    <div class="boton-izq">
        <button>I</button>
    </div>
    <div class="uno"></div>
    <div class="dos"></div>
    <div class="tres"></div>
    <div class="cuatro"></div>
    <div class="cinco"></div>
    <div class="seis"></div>
    <div class="boton-der">
        <button>D</button>
    </div>
</div>